<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
	
	<!--
	This is a free HTML5 responsive web site template you can use for your own project.
	Note that I do not provide support but you can read the original post at
	http://frontendpost.com/tutorials/flexgen-a-free-responsive-html5-single-serving-template/
	for information.
	
	Enjoy!
	
	Credits: 
	http://designmodo.com/free-social-media-icon-set/
	http://css-tricks.com/snippets/jquery/smooth-scrolling/
	http://www.burning.me/2011/12/my-journey-to-a-responsive-website/
	http://webdesignerwall.com/tutorials/css-elastic-videos
	-->
	
		<title>H+ extra content - mobile version</title>
		
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		
		<meta name="description" content="">
		<meta name="author" content="">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
	<!-- 	<link rel="icon" href="favicon.ico" type="static/image/x-icon">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
-->	
		<link href="static/style.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8">
		<script src="static/js/libs/modernizr-2.0.6.min.js"></script>
	
	</head>
	<body>
		<div id="wrapper">
			<header>
				<span id="siteName"><a>H++</a></span>
				<span id="siteTagline">extra content now on mobile</span>
			</header>
			
			<section id="pageContent">
				{% for episode in episodes %}
					<h2>Episode #{{ episode.number }}: {{ episode.title }}</h2>
						<p>
							{% if episode.photo %}
									<span class="button">
										<a
											href="http://www.hplusdigitalseries.com/map_photos/{{ episode.photo }}">
											Photo
										</a>
									</span>
							{% endif %}
							{% if episode.video %}
								<span class="button">
									<a href="{{ episode.video }}">
										Video
									</a>
								</span>
							{% endif %}
						</p>
						{% if episode.text %}
							<section>
								{{ episode.text }}
							</section>
						{% endif %} {% endfor %}
			</section>
			<!-- begin footer -->
			<footer>
			&copy;2012 <a href="https://plus.google.com/110972696278514961422/about">Marcin Koziński</a> | Template found on <a href="http://www.html5xcss3.com">Html5xcss3.com</a>
			</footer>
			<!-- /footer -->
		</div>       
		<script src="js/jquery.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/common.js"></script>
		
		<!--[if lt IE 7 ]>
		    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
		    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
		<![endif]-->

	</body>
</html>